<!doctype html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Головна сторінка</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 16px);
            background-color: #202123;
            gap: 50px;
        }

        .message {
            font-size: 30px;
            color: #c5c5d2;
        }
    </style>
</head>
<body>
    <div class="message">
        <p>Обирайте підсторінку:</p>
        <ul>
            <li><a href="/helloworld">Hello, world!!!</a></li>
            <li><a href="/greeting">Привітання</a></li>
            <li><a href="/note/list">Нотатки</a></li>
            <li><a href="/time">Час</a></li>
        </ul>
    </div>

</body>
</html>